/* CSS Document */
/*===================  COLORS  =================================================
# c-blue.css
# 
# part of the Gemini skin for Pmwiki
#=============================================================================*/

/*=============== blue theme =================*/
body { 	background-color:#87AEC5; }

#wrapper { background: url(images/blue70-top.jpg) repeat-x; }

a:link { color:#033EC6; }
a:visited { color:#003B62; }
a:hover { color:#FF5500; }
a:active { color:#FF5500; }

#titlebarbox { margin-bottom:0.3em  }
#titlebar a { color:#003B62; }
#titlebar a:hover { color:#E7601D; }

#content h1, #content h2, #content h3, 
#content h4, #content h5, #content h6 { color:#003B62; }


#content { background:#DFEAF1;  /* textarea background color */
		border-top:1px solid #003B62;    /* textarea borders */
		border-right:2px solid #003B62;
		border-left:1px solid #003B62;
		border-bottom:2px solid #003B62; }
	
/*#sidebar { background-color:#dfefff; } */
#sidebar p, h1, h2, h3, h4, .sidehead { color:#000 }
#sidebar h1 a:link, #sidebar h1 a:visited { color:#000; }
#sidebar h1 a:hover, #sidebar h1 a:active,
p.sidehead a:hover, p.sidehead a:active { 
		color:#C02020; background-color: #ffc;} /* hover colors */
#sidebar a:link, #sidebar a:visited { color:#000; }
#sidebar a:hover, #sidebar a:active { color:#C02020;  }
#sidebar li a:hover, #sidebar li a:active  { 
		color: #C02020; background-color: #F5E9BD; } /* hover colors */

#sidebar li, #sidebar h1, .sidehead { border-bottom: 1px solid #538BAC;} /* menu rules */
/* border-top:1px adds horizontal lines for second level list elements: */
#sidebar ul ul li  { border-top:0px solid #538BAC; border-bottom:0;} 

.inputbox { color:#000; background: #B5CFE0;
			border-top:1px solid #003B62; 
			border-left:1px solid #003B62;
			border-right:1px solid #B5CFE0;
			border-bottom:1px solid #B5CFE0;
			}
.inputbox:hover, .inputbox:focus { color:#000; background:#F5E9BD; }
/* comment next six lines to get a standard button */
.inputbutton {color:#B5CFE0; background:#23597B; 
			border-top:1px solid #003B62; 
			border-left:1px solid #003B62;
			border-right:1px solid #B5CFE0;
			border-bottom:1px solid #B5CFE0;}
.inputbutton:hover { color:#ff6600; background:#ffc }

#topnav li a:link, #topnav li a:visited { color:#87AEC5}
#topnav li a:hover, #topnav li a:active { color:#f00; background:#F5E9BD }

#footnavbox { margin-top:0.5em }
#footnav  { background-color:#87AEC5; }
#footnav li a { color:#B5CFE0; background:#23597B; }
#footnav li a:hover, #footaction li a:active { color:#f00; background:#F5E9BD; }
#footnav li a { 
			border-right:1px solid #B5CFE0;
			border-bottom:1px solid #B5CFE0;}

#footer { border-top:1px solid #003B62; }

#rightbar { background:#87AEC5;  
	    border:1px solid #003B62;}  


