---
Checks: >
  readability-*,
  clang-*,
  portability-*,
  performance-*,
  bugprone-*,
  modernize-use-override,
  modernize-use-nullptr,
  misc-*,
  -clang-analyzer-security.FloatLoopCounter,
  -misc-non-private-member-variables-in-classes,
  -misc-unused-parameters,
  -readability-else-after-return,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-redundant-member-init,
  -readability-uppercase-literal-suffix,
  -readability-isolate-declaration,
  -readability-braces-around-statements,
  -readability-named-parameter,
  -readability-redundant-access-specifiers,
  -readability-inconsistent-declaration-parameter-name,
  -readability-convert-member-functions-to-static,
  -bugprone-branch-clone,
  -clang-analyzer-optin.cplusplus.VirtualCall,
WarningsAsErrors: '*'
HeaderFilterRegex: 'src/.*hpp'
AnalyzeTemporaryDtors: true
...
