[submodule "external/logmich"]
	path = external/logmich
	url = https://github.com/logmich/logmich.git
[submodule "external/tinygettext"]
	path = external/tinygettext
	url = https://github.com/tinygettext/tinygettext.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/uitest"]
	path = external/uitest
	url = https://github.com/Grumbel/uitest.git
[submodule "external/sexp-cpp"]
	path = external/sexp-cpp
	url = https://github.com/lispparser/sexp-cpp.git
