[submodule "external/logmich"]
	path = external/logmich
	url = https://github.com/logmich/logmich.git
[submodule "external/tinygettext"]
	path = external/tinygettext
	url = https://github.com/tinygettext/tinygettext.git
[submodule "external/googletest"]
	path = external/googletest
	url = http://git.chromium.org/external/googletest.git
