*.o
*~
.*.swp
.DS_Store
/.sconf_temp
/.sconsign.dblite
/Pingus-*.dmg
/Pingus.app
/build*/
/cache
/config.log
/doc/man/pingus.html/index.html
/doc/man/pingus.html/index.orig.html
/old
/pingus
/pingus-evil
/pingus-neutral
/pingus-nice
