[Desktop Entry]
Name=Pingus
Comment=Guide groups of penguins through various obstacles
Icon=pingus
Terminal=false
Exec=pingus %f
Type=Application
Categories=Game;LogicGame;
StartupNotify=false
MimeType=application/x-pingus;application/x-pingus-worldmap;application/x-pingus-prefab
Keywords=lemmings;obstacles;traps;penguins;
