<?xml version="1.0"?>
<pingus-config>
  <!--
  Pingus Configuration File
  ~~~~~~~~~~~~~~~~~~~~~~~~~
  This is an example config file for pingus, it should be placed in
  $HOME/.pingus/config. You can use all long options which pingus
  understands (pingus --help), if the option needs an argument,
  seperate it with some spaces from the option.
  -->

  <screen>
    <!-- Start the game in fullscreen mode? -->
    <fullscreen>false</fullscreen>
    
    <!-- The resolution to use -->
    <width>640</width>
    <height>480</height>
  </screen>

  <!-- Should we show the intro -->
  <show-intro>false</show-intro>

  <verbose>0</verbose>
<!--
  # Should we use a horizontal button panel (buggy)
  horizontal_button_panel = false;
-->
  <!-- Should we scroll if the mouse reached the borders -->
  <auto-scrolling>true</auto-scrolling>

  <!-- Load all data on startup -->
  <preload-data>false</preload-data>

  <!-- Sound options -->
  <sound>
    <music-enabled>true</music-enabled>
    <sound-enabled>true</sound-enabled>
    
    <audio-format>8</audio-format>
    <audio-rate>15000</audio-rate>
    <audio-channels>1</audio-channels>
    <audio-buffers>4096</audio-buffers>
  </sound>
</pingus-config>

<directory name="sound">
  <entry name="music-enabled" type="int">122</value>
  <entry name="music-enabled" type="string">Hello World</value>
</directory>

<sound>
  <music-enabled>123</music-enabled>
  <audio-format>8</audio-format>
</sound>

music_enabled = PropManager::get_float("sound/music-enabled");

<!-- EOF -->
    