<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pingus.game"
    android:versionCode="1"
    android:versionName="0.8.0">

    <uses-sdk android:minSdkVersion="22" android:targetSdkVersion="22" />

    <!-- GLES2 is the default renderer. ES 2.0 is required by Android CDD; minSdk 22 is fine. -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:label="Pingus"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:hasCode="true">
        <activity
            android:name="org.libsdl.app.SDLActivity"
            android:label="Pingus"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
